
  .leaflet-container {
    height: 450px !important;
    width:79% !important;
    top: -500px !important;
  
    left: 264px;
  }
  
  .leaflet-div-icon {
    background: transparent;
    border: none;
  }


  
  .leaflet-draw-toolbar a {
    background-image: url("https://unpkg.com/leaflet@1.3.4/dist/leaflet.css");
    background-repeat: no-repeat;
    color: transparent !important;
  }
  







  